@font-face {
  font-family: "ArchivoBlack-Regular";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #000;
  color: white;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: min(90%, 1100px);
  margin: 0 auto;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
  margin: auto;
}

.hero_text_title {
  font-size: 4rem;
  line-height: 0.9;
  font-weight: 800;
  font-family: "ArchivoBlack-Regular", sans-serif;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-align: left;
}
.hero_image {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 385px;
  justify-self: end;
  position: relative;
  z-index: 1;
}
.hero_image::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(108, 88, 255, 0.45) 0%,
    rgba(108, 88, 255, 0.2) 45%,
    transparent 75%
  );
  filter: blur(50px);
  z-index: 0;
}
.hero_image_perfil {
  width: 90%;
  max-width: 500px;
  height: 90%;
  max-height: 385px;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

.subtitle {
  color: #8d8d8d;
  margin: 1rem 0;
  font-family: "OpenSans-Regular", sans-serif;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.description {
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  margin: auto;
  font-size: 1.2rem;
}

.hero_buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
  font-family: "OpenSans-SemiBold", sans-serif;
}

.btn-link {
  color: white;
  border-bottom: 2px solid #6155ff;
  padding-bottom: 5px;
  transition: 0.3s;
}

.btn-link:hover {
  opacity: 0.5;
}

/* SKILLS */

.skills {
  margin: auto;
  padding: 1rem 0 2rem;
  font-family: "ArchivoBlack-Regular", sans-serif;
}

.skills_title {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.skills_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills_icons_img {
  width: 52px;
}

/* PROJECTS */

.projects {
  padding-bottom: 5rem;
  font-family: "ArchivoBlack-Regular", sans-serif;
}

.projects_title {
  font-size: 2.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.projects_link {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.projects_link:hover {
  opacity: 0.5;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  position: relative;
  background: #111;
  border: 1px solid #232323;
  border-radius: 10px;
  overflow: hidden;
}

.card .card_content {
  padding: 1.5rem;
  font-family: "OpenSans-Regular", sans-serif;
}

.card_content_title {
  font-family: "OpenSans-Bold", sans-serif;
}

.card_content_text {
  color: #c7c7c7;
  text-align: left;
  line-height: 1.6;
}

.card_image {
  width: 590px;
  height: 330px;
  object-fit: cover;
  display: block;
  background: linear-gradient(
    to bottom 180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card_image_button {
  width: 40;
  height: 40;
  opacity: 1;
  left: 132px;
  gap: 2rem;
}

.card_links {
  position: absolute;
  left: 16px;
  top: 290px;
  display: flex;
  gap: 8px;
  z-index: 3;
}

.card_links_img {
  width: 24px;
  height: 24px;
}

.card_links a {
  color: #7368ff;
  font-size: 0.9rem;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 330px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

/* CONTACT */

.contact {
  text-align: center;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(108, 88, 255, 0.45) 0%,
    rgba(108, 88, 255, 0.2) 45%,
    transparent 75%
  );
  filter: blur(50px);
  z-index: 0;
}

.contact_title {
  font-size: 2.2rem;
  color: white;
  font-family: "ArchivoBlack-Regular", sans-serif;
  position: relative;
  z-index: 1;
}

.contact_text {
  margin: 1rem 0 2rem;
  color: #7368ff;
  font-family: "OpenSans-Regular", sans-serif;
  position: relative;
  z-index: 1;
}

.contact_text:hover {
  opacity: 0.5;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}

.social_link:hover {
  opacity: 0.5;
}

@media screen and (width <= 1023px) {
  .hero {
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: start;
  }

  .hero_text {
    order: 2;
  }

  .hero_image {
    width: 90%;
    max-width: 280px;
    height: 90%;
    max-height: 216px;
    justify-self: end;
    position: relative;
  }

  .hero_image::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    left: 80%;
    top: 30%;
  }

  .hero_image_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero_text_title {
    font-size: 3rem;
  }

  .skills_icons {
    justify-content: space-between;
  }
  .description {
    margin: auto;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

.card_image {
  width: 100%;
  max-width: 688px;
  height: 100%;
  max-height: 330px;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (width <= 767px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .hero_image {
    order: -1;
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 280px;
    justify-self: center;
    overflow: hidden;
  }

  .hero_image_perfil {
    object-fit: cover;
  }

  .description {
    font-size: 1.1rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
  .hero_text_title {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .hero_text {
    order: 1;
  }

  .card_image {
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 160px;
    object-fit: cover;
    margin: 0 auto;
  }

  .card::before {
    height: 160px;
  }

  .card_links {
    top: 120px;
  }

  .skills_title {
    font-size: 1.7rem;
  }

  .projects_title {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }

  .skills_icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: start;
    padding-bottom: 1rem;
  }
}
