@font-face {
  font-family: "ArchivoBlack-Regular";
  src: url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  width: min(90%, 1100px);
  margin: auto;
}

/* HERO */

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0;
}

.hero_text h1 {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 0.95;
  font-family: "ArchivoBlack-Regular", sans-serif;
  margin-bottom: auto;
}

.hero_image img {
  width: 387px;
  height: 500px;
  object-fit: cover;
  display: block;
  left: 933px;
  opacity: 1;
  gap: 1rem;
}
.subtitle {
  color: #8d8d8d;
  margin: 1rem 0;
  font-family: "OpenSans-Regular", sans-serif;
  margin-bottom: auto;
  font-size: 1.2rem;
}

.description {
  max-width: 650px;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  margin-bottom: auto;
  font-size: 1.2rem;
}

.hero_buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  font-family: "OpenSans-SemiBold", sans-serif;
}

.btn-link {
  color: white;
  border-bottom: 2px solid #6155ff;
  padding-bottom: 5px;
  transition: 0.3s;
}

.btn-link:hover {
  opacity: 0.5;
}

.hero_image {
  width: 387;
  height: 500;
  angle: 0 deg;
  opacity: 1;
  top: 40px;
  left: 933px;
}

/* SKILLS */

.skills {
  padding: 2rem 0 5rem;
  font-family: "ArchivoBlack-Regular", sans-serif;
}

.skills h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.skills_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skills_icons img {
  width: 42px;
}

/* PROJECTS */

.projects {
  padding-bottom: 3rem;
  font-family: "ArchivoBlack-Regular", sans-serif;
}

.projects h2 {
  font-size: 2.5rem;
}

.projects_link {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.projects_link:hover {
  opacity: 0.5;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  position: relative;
  background: #111;
}

.card .card_content {
  padding-left: 1.5rem;
  font-family: "OpenSans-Regular", sans-serif;
}

.card_content h3 {
  font-family: "OpenSans-Bold", sans-serif;
}

.card_content p {
  color: #c7c7c7;
  text-align: left;
}

.card_image {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
  background: linear-gradient(
    to bottom 180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card_image_button {
  width: 40;
  height: 40;
  angle: 0 deg;
  opacity: 1;
  top: 1265px;
  left: 132px;
  gap: 2rem;
}

.card_links {
  position: absolute;
  left: 16px;
  top: 290px;
  display: flex;
  gap: 8px;
  z-index: 3;
}

.card_links img {
  width: 24px;
  height: 24px;
}

.card_links a {
  color: #7368ff;
  font-size: 0.9rem;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 330px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

/* CONTACT */

.contact {
  text-align: center;
  padding-bottom: 2rem;
}

.contact h2 {
  font-size: 2.2rem;
  color: white;
  font-family: "ArchivoBlack-Regular", sans-serif;
}

.contact p {
  margin: 1rem 0 2rem;
  color: #7368ff;
  font-family: "OpenSans-Regular", sans-serif;
}

.contact p:hover {
  opacity: 0.5;
}

@media screen and (max-width <= 768px) {
  .hero {
    grid-template-columns: 2fr;
    text-align: center;
  }

  .hero_content {
    order: 2;
  }

  .hero_image {
    order: 1;
    max-width: 300px;
    margin: auto;
  }

  .skills_icons {
    justify-content: space-between;
  }
  .description {
    margin: auto;
  }

  .hero_buttons {
    justify-content: center;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width <= 320px) {
  .hero h1 {
    font-size: 3rem;
  }

  .skills h2,
  .projects h2 {
    font-size: 1.7rem;
  }

  .skills_icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: start;
  }

  .hero {
    gap: 2rem;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.socials a:hover {
  opacity: 0.5;
}
